body{
    background-color: #013141;
}
.logo{
    position: absolute;left: 120px; top: 25px;
}
.av3{
    width: 100px;
    height: 100px;
    position: absolute;left: 60px; top: 100px;
}
.av2{
    width: 125px;
    height: 125px;
    position: absolute; top: 50px;right: 150px; 
}
.av1{
    width: 75px;
    height: 75px;
    position: absolute;; top: 265px;right:200px
}
.av4{
    height: 190px;
    width: 190px;
    position: absolute; top: 425px;right: 200px;
}
.av6{
    width: 100px;
    height: 100px;
    position: absolute;left: 850px; top: 400px;
}
.av5{
    width: 100px;
    height: 100px;
    position: absolute; top: 60px;right: 350px;
}
h1{
    color: #30f5c7;
    font-size: 150px;
    position: absolute;left: 125px;
}
p{
    color: white;
    position: absolute;top: 425px;left: 125px;
    font-size: 20px;
}
button{
    position: absolute;top: 500px;left: 125px;
    height: 50px;
    width: 250px;
    background-color: #30f5c7;
    border-radius: 15px;
}
button h3{
    color: black;
}
.twi{
    position: absolute;top: 560px; left: 125px;
}
.twit{
    position: absolute;top: 555px; left: 185px;
    color: snow;
}
@media(max-width:992px){
    .logo{
        position: absolute;top: 10px;
    }
    .av3{
        position: absolute;left: 125px;
    }
.av4{
    display: none;
}
.av1{
    display: none;
}
.av5{
    display: none;
}
.av6{
    position: absolute;left: 275px; top: 450px;
}
.av2{
    position: absolute;left: 275px; top: 100px;
}
h1{
    font-size: 50px;
    position: absolute;top: 200px;left: 75px;
}
p{
    position: absolute;top: 350px;left: 75px;
    font-size: 18px;
}
button{
    position: absolute;top: 425px;left: 75px;
}
.twi{
    position: absolute;top: 580px;left: 75px;
}
.twit{
    position: absolute;top: 575px;left: 130px;
}
}